.rbc-header{
    color: #29597e;
    font-family: 'Luckiest Guy';
    font-weight: 100;
}

.rbc-row-bg{
    background: rgba(126, 183, 217, .7);
}

.rbc-off-range-bg{
    background: rgba(41, 89, 126, .6);
}

.rbc-row{
    color: #29597e;
}

.rbc-off-range{
    color: #29597e;
}

.rbc-now{
    background: rgba(202, 232, 250, .7);
}

.rbc-time-column{
    background: rgba(126, 183, 217, .7);
}

.rbc-today{
    background: rgba(202, 232, 250, .7);
}

.rbc-row-segment{
    font-size: xx-small;
}

.rbc-events-container{
    font-size: small;
}

.rbc-current-time-indicator{
    background: #29597e;
    height: 2px;
}

.rbc-label{
    color: #29597e;
    font-family: 'Luckiest Guy';
    font-weight: 100;
}

.rbc-toolbar{
    justify-content: space-between;
    flex-wrap: nowrap;
}

.rbc-toolbar-label{
    color: #29597e;
    font-family: 'Luckiest Guy';
    font-weight: 100;
    font-size: x-large;
}

.rbc-toolbar button{
    color: #29597e;
    font-family: 'Luckiest Guy';
    font-weight: 100;
    padding: .375rem .5rem;
}

.rbc-toolbar button:hover{
    background-color: rgba(41, 89, 126, .4);
    color: #29597e;
}

.rbc-toolbar button.rbc-active:focus{
    background-color: rgba(41, 89, 126, .4);
    color: #29597e;
}

.rbc-toolbar button.rbc-active{
    background-color: rgba(41, 89, 126, .4);
    color: #29597e;
}

.rbc-toolbar button.rbc-active:hover{
    background-color: rgba(41, 89, 126, .4);
    color: #29597e;
}
